<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="*****">
            <clientCredentials>
              <serviceCertificate>
                <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
                <defaultCertificate storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName" findValue="*****"/>
              </serviceCertificate>
              <clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="*****"/>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <customBinding>
                <binding name="WSHttpBinding_IStatementService">
                    <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate"
                        requireDerivedKeys="true" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="true">
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <textMessageEncoding />
                    <httpsTransport maxReceivedMessageSize="65536666" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://*****.mellatmoheb.ir/ExternalServices/Account/StatementService.svc"
                binding="customBinding" bindingConfiguration="WSHttpBinding_IStatementService"
                contract="Moheb.IStatementService" name="WSHttpBinding_IStatementService" behaviorConfiguration="*****">
                <identity>
                  <dns value="*.mellatmoheb.ir"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>